<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRIohUrmXHdVzIYyh4FnOTKoEwJ_5Mqxk</string>
	<key>GCM_SENDER_ID</key>
	<string>894988944297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corange.medic</string>
	<key>PROJECT_ID</key>
	<string>medic-87909</string>
	<key>STORAGE_BUCKET</key>
	<string>medic-87909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894988944297:ios:1790886b2e467135b57ab8</string>
</dict>
</plist>